.docs-home-page .content,
.docs-home-page .page-edit,
.docs-home-page .page-nav {
  max-width: 960px;
}

@media (min-width: ($MQMobile +1px)) {
  .home-card-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}